DEVICE={{ management_network_device }}
TYPE=Ethernet
ONBOOT=yes
NM_CONTROLLED=no
BOOTPROTO=none
IPADDR={{management_network_interface.address}}
NETMASK={{management_network_interface.netmask | default(default_netmask)}}
GATEWAY={{management_network_interface.gateway | default(ansible_default_ipv4.gateway)}}
